.projectsContainer
  display: flex
  flex-wrap: wrap

  .card
    margin: 3px
    width: 21rem

    .card-link-area
      display: flex
      flex-direction: column
      padding: 1.0rem
      min-height: 80px
    
    .card-img-top
      padding: 10px

    .cardTitle
      text-align: center
      padding-top: 10px

    .card-body
      display: flex
      flex: 0 0 auto
      flex-direction: column
      padding: 1.0rem