<div class="sidebar-module sidebar-module-inset">
	<div class="sidebar-module sidebar-module-inset">
		<a href="/">
			<img class="gravatar" src="http://www.gravatar.com/avatar/ea0fc856babc7fed1657cc11512a91b8?&size=200"/><br/>
		</a>
	</div>

	<div class="sidebar-module sidebar-module-inset description">
		<p>Hi, my name is <strong>Saulo Aguiar.</strong></p>
		<p>This is my personal page. Here I share some of my learnings in development and life.
    	Currently, I'm working with React for front end projects and Kotlin and Spring Boot on the back end side.
			I also play the drumset, believe in education as a tool to empower people and my biggest dream is to travel around the world.
		</p>
	</div>
	<div class="sidebar-module sidebar-module-inset media">
		<a href="http://github.com/{{ site.github }}" target="_blank"><span class="fa fa-github-alt fa-2x"></a>
		<a href="http://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><span class="fa fa-linkedin fa-2x"></a>
		<a href="http://www.twitter.com/{{ site.twitter }}" target="_blank"><span class="fa fa-twitter fa-2x"></a>
	</div>
</div>
