<div class="sidebar-module sidebar-module-inset">
	<div class="sidebar-module sidebar-module-inset">
		<a href="{{ site.url }}">
			<img class="gravatar" src="http://www.gravatar.com/avatar/ea0fc856babc7fed1657cc11512a91b8?&size=200"/><br/>
		</a>

	</div>

	<div class="sidebar-module sidebar-module-inset description">
		<h4>Learning Blog</h4>
		<p>This is my tentative blog for sharing learning experience in computer science and living in Chicago, IL, US.</p>
		<p>Hi, my name is <strong>Saulo Aguiar.</strong></p>
    	<p>I am graduate student at Loyola University Chicago.</p>
    	<p>I started working as a programmer since 4 years ago. Mainly, I worked with mobile plataforms, more specically, Android and I also developed some backend servers using Java.</p>
    	<p>Today I'm interested in learning Scala language and dive into functional programming.
	</div>
</div>
