---
---
<!DOCTYPE html>
<html>
{% include head.html %}

{% include google_analytics.html %}
<body>

	<div class="container-fluid">

		<div class="row">

			<div class="col-sm-3  blog-sidebar sidebar">
				{% include sidebar.html %}
			</div>

			<div class="col-sm-7 col-sm-offset-1 blog-main">
				{{ content }}
			</div>

		</div><!-- /.row -->

	</div><!-- /.container -->

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 	<!-- Latest compiled and minified JavaScript -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body>
</html>
